.display-field-item {
  margin: 10px 0;
  border: 1px solid gainsboro;
  border-radius: 2px;
  span {
    padding: 10px;
  }
  span.key {
    text-transform: uppercase;
  }
  span.value {
    background: #f7f7f7;
  }
}