.candidate-details-component {
  h3 {
    margin: 0;
    padding: 0;
  }
  .md-button {
    margin: 0;
  }

  .display-fields {
    margin: 15px 0;
  }

  .md-subheader .md-subheader-inner {
    padding: 0;
  }

  .candidate-hours-table {
    text-align: left;

    thead {
      tr {
        th{
          width: 8%;
        }
      }
    }
    tr {
      td {
          width: 8%;
        > span {
          width: 50px;
          display: inline-block;
        }
      }
    }

    md-input-container {
      margin: 0;
      max-width: 50px;
      .md-errors-spacer {
        min-height: 0;
      }
    }
  }
}