<md-bottom-sheet layout="column">
    <md-subheader>
        <div layout="row" layout-align="space-between center">
            <div>Enter Hours for <b>{{vm.user.firstName+' '+vm.user.lastName}}</b></div>
            <div>
                <md-button class="md-warn" ng-click="vm.closeEnterHours()">Cancel</md-button>
                <md-button class="md-primary" ng-click="vm.saveHours()">Save Hours</md-button>
            </div>
        </div>
    </md-subheader>
    <md-divider></md-divider>
    <div style="padding:20px 0;">
        <table class="candidate-hours-table">
            <thead><tr><th ng-repeat="h in vm.months">{{h}}</th></tr></thead>
            <tbody>
            <tr ng-repeat="(year, monthsHours) in vm.userHours.hours track by year">
                <td>{{year}}</td>
                <td ng-repeat="(month, hours) in monthsHours track by month">
                    <span ng-if="!hours.active" style="margin-left:10px">--</span>
                    <md-input-container ng-if="hours.active">
                        <input ng-model="hours.value" aria-label="{{month}}">
                    </md-input-container>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</md-bottom-sheet>